# Temporary scratch files and scripts
*.zip
*.log
*.tmp
*.ini
*.txt
*.html
*.json
*_temp*
*dl*
*test_*
*check_*
*fix_*
*seed_*
*reseed_*
*build_*
*patch_*
*purge_*
*debug_*
*setup_*
*force_*
*update_*
*restore_*
*reactivate*
*convert.py
*dump_cards.py
*extract_wrappers.py
*include_setup.py
*inject_try.py
*inspect_cards*.py
*install_acf_pro.py
*list_vendors.php
*masonry_*.py
*migrate_content.php
*order_vendors.php
*prep_acf_demo.py
*remove_snackboxe_logo.php
*sort_gallery.py
*unzip_acf.php
*upd_gallery.py
*upload_*.py
*attach_*.php
*set_thumbs*.php
*disable-acf-notice.php
*activate_pheast.php
*theme_*
*.php_dl*
plugins/
*.ttf
*.woff
*.woff2

